flask==2.3.3
flask-cors==3.0.10
SpeechRecognition==3.10.0
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
pyttsx3==2.90
gTTS==2.3.2
sounddevice==0.4.6
pydub==0.25.1
ffmpeg-python==0.2.0
python-ffmpeg==1.0.16
